* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('../pics/pexels-kovyrina-937980.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    backdrop-filter: blur(5px);
}

header {
    margin-bottom: 30px;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.subtitle {
    font-size: 1.5em;
    color: #ff99ff;
    margin-bottom: 10px;
    display: block;
}

nav {
    background-color: rgba(0, 0, 255, 0.4); 
    padding: 10px;
    border-radius: 8px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: right;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    background-color: rgba(0, 0, 255, 0.3);
    padding: 10px 20px;
    /* border-radius: 8px; */
}

nav ul li a:hover {
    background-color: rgb(0, 76, 255);
}

.content {
    padding: 20px;
    background-color: rgba(128, 0, 128, 0.7); /* Color púrpura con transparencia */
    border-radius: 8px;
    position: relative;
    backdrop-filter: blur(5px);
    display: inline-block;
    max-width: 800px;
}

.css-box {
    background-color: rgba(128, 0, 0, 0.7); /* Color rojo oscuro con transparencia */
}

.css-box h2 {
    font-size: 2em;
    text-align: left;
    color: orange;
}

.css-box p {
    font-size: 1.2em;
    text-align: left;
}

.logo {
    width: 50px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

footer {
    margin-top: 40px;
    font-size: 1em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

footer strong {
    color: yellow;
}

footer p {
    margin-top: 5px;
}
